body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card {
  background-color: #ebebeb;
  padding: 1rem;
  border-radius: 15px;
}

.pageTitle {
  font-family: -apple-system, Helvetica Neue;
  font-weight: bold;
  font-size: 40px;
  padding-bottom: 1rem;
}

.pageSubtitle {
  font-family: -apple-system, Helvetica Neue;
  font-weight: bold;
  color: grey;
  font-size: 20px;
  padding-bottom: 0.5rem;
}

.pageSubSubtitle {
  font-family: -apple-system, Helvetica Neue;
  font-size: 17px;
  padding-bottom: 0.5rem;
}

.standardButton {
  font-family: -apple-system, Helvetica Neue;
  font-size: 20px;
  background-color: lightgray;
  border-width: 0px;
  border-radius: 7px;
  padding: 1rem 2rem;
}

.navigationBar {
  background-color: steelblue;
}

.navigationBarContent {
  padding: 1rem;
}

.navigationBarText {
  font-family: Helvetica;
  font-size: 20px;
  color: white;
  text-align: right;
}

.homeButton {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.contentInsets {
  padding: 1rem;
}

.rightJustified {
  margin-left: auto;
  margin-right: 0px;
}

